---
import Icon from 'astro-icon';
import SectionLayout from '../../layouts/SectionLayout.astro';

import projects from '../../data/portfolio';
---

<SectionLayout heading="Projects" id="projects" text="Some things I've built">
  <ul>
    {
      projects.map((project, i) => (
        <li
          class={`${i === 0 ? 'mt-14' : 'mt-28'} flex ${
            i % 2 !== 0 ? 'text-end flex-row-reverse' : ''
          } items-center`}
        >
          <div class="z-10 basis-5/12">
            <h2 class="mb-0.5 text-xs font-medium">PROJECT #{i + 1}</h2>
            <h1 class="text-lg font-semibold uppercase">{project.title}</h1>
            <p
              class={`${
                i % 2 === 0 ? '-mr-20' : '-ml-20'
              } bg-primary-dark my-5 rounded px-6 py-4`}
            >
              {project.description}
            </p>
            <ul
              class={`flex flex-wrap ${
                i % 2 !== 0 ? 'justify-end' : ''
              } gap-4 text-sm`}
            >
              {project.languages.map(language => (
                <li class="bg-primary-dark rounded-full px-4 py-2">
                  {language}
                </li>
              ))}
            </ul>
            <div
              class={`${i % 2 !== 0 ? 'mr-2 justify-end' : 'ml-2'} mt-8 flex
              gap-4`}
            >
              <a href={project.githubLink} target="_blank">
                <Icon name="iconoir:github" class="h-6" />
              </a>
              <a href={project.websiteLink} target="_blank">
                <Icon name="heroicons-outline:external-link" class="h-6" />
              </a>
            </div>
          </div>
          <div class="basis-7/12">
            <a href={project.websiteLink}>
              <img src={project.imageLink} class="rounded" />
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</SectionLayout>
